.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 19px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out, visibility 1s 0s;
  -moz-transition: opacity 0.3s ease-out, visibility 1s 0s;
  -ms-transition: opacity 0.3s ease-out, visibility 1s 0s;
  transition: opacity 0.3s ease-out, visibility 1s 0s, pointer-events 0s 1s;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease-in, visibility 0s, pointer-events 0s;
  -moz-transition: opacity 0.3s ease-in, visibility 0s, pointer-events 0s;
  -ms-transition: opacity 0.3s ease-in, visibility 0s, pointer-events 0s;
  transition: opacity 0.3s ease-in, visibility 0s, pointer-events 0s;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  min-width: 430px;
}

.modal__container_preview {
  position: relative;
  margin: 90px auto 68px auto;
  padding: 0;
}

.modal__card-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__card-title {
  font-size: 12px;
  line-height: 14.5px;
  margin: 10px 0 0 0;
}

.modal__close {
  background-image: url(../images/close.svg);
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__heading {
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0px;
  margin-bottom: 54px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  font-size: 14px;
  line-height: 17px;
  min-height: 27px;
  margin-bottom: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input::placeholder {
  color: #000;
}

.modal__button {
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  min-height: 50px;
  margin-top: 18px;
  padding: 0 0;
}

.modal__button:hover {
  opacity: 80%;
}

@media screen and (max-width: 640px) {
  .modal__container {
    min-width: 238px;
    padding: 25px 22px 25px 22px;
  }

  .modal__container_preview {
    min-width: 238px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .modal__close {
    width: 26px;
    height: 26px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 76px;
  }

  .modal__button {
    font-size: 14px;
    line-height: 17px;
  }
}
