.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.page__section {
  max-width: 882px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}