.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  margin-left: 27px;
  margin-bottom: 32px;
}

@media screen and (max-width: 780px) {
  .header {
    margin-top: 36px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    margin-top: 28px;
    width: 100%;
  }

  .header__image {
    width: 126px;
    height: 24px;
  }
}
