.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__image {
  height: 120px;
  margin-right: 24px;
  width: 120px;
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
}

.profile__edit-button {
  background: transparent url(../images/edit_button-inactive.svg) center
    no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid #ffffff;
  margin-left: 18px;
  margin-top: 15px;
  margin-bottom: 9px;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/add_button-inactive.svg) center
    no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__description {
  grid-area: description;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

@media screen and (max-width: 780px) {
  .profile {
    flex-direction: column;
  }

  .profile__title {
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__image {
    margin-right: 0;
  }

  .profile__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 282px;
    justify-content: center;
  }

  .profile__description {
    text-align: center;
    font-size: 16px;
  }

  .profile__add-button {
    margin: 36px 0 36px 0;
    width: 278px;
  }
}

@media screen and (max-width: 450px) {
  .profile {
    padding-top: 14px;
  }

  .profile__info {
    width: 100%;
    margin-top: 30px;
  }

  .profile__description {
    width: 100%;
    font-size: 14px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin-left: 10px;
  }

  .profile__add-button {
    margin-bottom: 0px;
  }
}
